.Modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;

    &_shadow {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $bgPrimaryInverse;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .show {
        opacity: 0.3;
    }

    &_window {
        z-index: 2;
        position: fixed;
        top: 0;
        bottom: 0;
        right: -600px;
        width: 600px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background: $bgPrimary;
        border-radius: 16px 0 0 16px;
        transition: right 0.3s ease;
    }

    .open {
        right: 0
    }
}
