.Toast {
  min-width: 340px;
  height: 48px;
  background: $bgPrimaryInverse;
  padding: 4px 16px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 16px;
  box-shadow: $shadowLg;
  cursor: pointer;


  p {
    font: $fontP4;
    color: $textPrimaryInverse;
  }

  button {
    margin-left: auto;
  }

  &_timer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
  }

  &_time {
    position: relative;
    z-index: 2;
    font: $fontP8;
    color: $textPrimaryInverse;
  }

  &_circle {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: inline-flex;
    vertical-align: bottom;
  }

  &_svg {
    width: 100%;
    height: 100%;

    circle {
      stroke: $iconPrimaryInverse;
      stroke-width: 5px;
      stroke-dasharray: 283.1853072; // длина окружности круга
      stroke-dashoffset: 283.1853072; // начальное значение
      fill: none;
    }
  }

  &_meter {
    stroke-width: 5px;
    stroke: $iconPrimaryInverse;
    fill: none;
    transition: stroke-dashoffset 1s cubic-bezier(0.43, 0.41, 0.22, 0.91);
    transform-origin: center center;
    stroke-dasharray: 283.1853072; // длина окружности круга
    transform: rotate(90deg) scaleX(1);
  }

  &_button {
    margin-left: 28px;
  }
}